body{
    margin: 0px;
    font-family: arial,sans-serif;
}
body a ,footer span{
    color: #5f6368;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#container{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 75px;
    font-size: 13px;
}
#container a{
    color: #000000de;
}
header{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header div{
    margin: 0 0 0 auto;
    padding: 10px;
}
header div button{
    height: 30px;
    width: 65px;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
}
header a{
    margin-right: 10px;
}
main{
    display: grid;
    grid-template-rows: 30% 10% 10% 50%;
    background-color: white;
}
main div.capsule{
    display: flex;
}
div.search-btn ,div.search-box{
    align-items: center;
}
div#search-area button{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
div#search-area button:hover{
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
div#filling-form{
    width: 80%;
    height: 60%;
}
div#filling-form input{
    display: block;
    margin : 0 auto;
    height: 100%;
    width: 40%;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
    padding-left: 15px;
    font-size: 15px;
}
div#region a{
    color: cornflowerblue;
}
div#main-capsule{
    align-self: flex-end;
}
div#logo, div#filling-form, div#search-area, div#region{
    margin: 0 auto;
}
div#search-area{
    /*display: block;*/
    display: inline-block;
}
div#search-area button{
    height: 36px;
    min-width: 54px;
}
footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
.footer-capsule{
    height: 50%;
    display: flex;
    border-top: solid #e4e4e4;
    border-width: 1px;
}
.left{
    margin: auto auto auto 5px;
    /*margin-top: auto;
    margin-left: 5px;*/
}
.right{
    margin: auto 5px;
}
.span-style span{
    margin: 0 5px 0 5px;
}
.top-footer{
    font-size: 15px;
}
.bottom-footer{
    font-size: 13px;
}