body{
    margin: 0px;
    font-family: arial,sans-serif;
}
body a ,footer span{
    color: #5f6368;
}
a:link{
    text-decoration: none;
}
#container{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 60px;   
}
header{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 0;
}
header div{
    margin: 0 0 0 auto;
}
header a{
    margin-right: 10px;
}
main{
    display: grid;
    grid-template-rows: 30% 10% 10% 50%;
    background-color: white;
}
main div.capsule{
    display: flex;
}
div#region a{
    color: cornflowerblue;
}
div#main-capsule{
    align-self: flex-end;
}
div#logo, div#filling-form, div#search-area, div#region{
    margin: 0 auto;
}
div#search-area{
    /*display: block;*/
    display: inline-block;
}
div#search-area button{
    height: 36px;
    min-width: 54px;
}
footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
.footer-capsule{
    height: 50%;
    display: flex;
}
.left{
    margin: auto auto auto 5px;
    /*margin-top: auto;
    margin-left: 5px;*/
}
.right{
    margin: auto 5px;
}
.span-style span{
    margin: 0 5px 0 5px;
}